<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <%- include('_head') %>
</head>
<body class="login">
  <div class="wrapper">
    <form action="/signout" method="GET">
      <% if (locals.currentHour > 12) { %>
        <h1>Good Afternoon</h1>
      <% } else { %>
        <h1>Good Morning</h1>
      <% } %>
      <p class="centerme"><%= locals.email %></p>
      <button type="submit" class="btn">Signout</button>
    </form>
</div>
</body>
</html>