<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <%- include('_head') %>
</head>
<body class="main">
  <div class="wrap">
  <h1>Heal is the way to heal.</h1>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>
</body>
</html>